@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	--line-color: #e5e7eb;
}

html.dark {
	--line-color: rgba(255, 255, 255, 0.2);

	* {
		--focus-outline: 3px solid rgba(255, 255, 255, 0.8);
	}
}

.borderBlack {
	@apply  border border-black/10;
}

.object-top-30 {
	object-fit: cover;
	object-position: 40% 0%;
}

* {
	--focus-outline: 3px solid black;
}


*:focus {
	outline: var(--focus-outline);
}
